<?xml version="1.0" encoding="UTF-8" ?>
<!--
_于Mybatis的SQL文件映射_怎_写，我_要参照Mybatis的官方文档，官方文档都托管到了GitHub下
我_就从GitHub网站去搜索MyBatis的相__料
配置的参照例子
https://mybatis.org/mybatis-3/getting-started.html
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.springboot04web.mapper.CtKeiyaku021Mapper">
    <select id= "getInfoList" resultType="com.liu.springboot04web.bean.CtKeiyaku021Bean">
        select * from bzl_renrakusakimst
    </select>
    <select id= "getInfoById" resultType="com.liu.springboot04web.bean.CtKeiyaku021Bean">
        select * from bzl_renrakusakimst
        where emrgcy_cntct_mng_no = #{emrgcyCntctMngNo}
    </select>
    <update id="updateInfo">
      update bzl_renrakusakimst set
        sys_id = #{sysId},
        emrgcy_cntct_mng_no = #{emrgcyCntctMngNo},
        fullname = #{fullname},
        fullname_kana = #{fullnameKana},
        gender = #{gender},
        birth_day = #{birthDay},
        post_code = #{postCode},
        loaction1 = #{loaction1},
        loaction2 = #{loaction2},
        apart_name = #{apartName},
        apart_code = #{apartCode},
        cop_name = #{copName},
        tel_number = #{telNumber},
        email = #{email},
        tantosha_code = #{tantoshaCode}
        where sys_id = #{sysId}
          and emrgcy_cntct_mng_no = #{emrgcyCntctMngNo}
    </update>
    <insert id="insertInfo" keyColumn="emrgcy_cntct_mng_no">
        insert into bzl_renrakusakimst (
            sys_id,
            emrgcy_cntct_mng_no,
            fullname,
            fullname_kana,
            gender,
            birth_day,
            post_code,
            loaction1,
            loaction2,
            apart_name,
            apart_code,
            cop_name,
            tel_number,
            email,
            tantosha_code
         )
        values (
            #{sysId},
            #{emrgcyCntctMngNo},
            #{fullname},
            #{fullnameKana},
            #{gender},
            #{birthDay},
            #{postCode},
            #{loaction1},
            #{loaction2},
            #{apartName},
            #{apartCode},
            #{copName},
            #{telNumber},
            #{email},
            #{tantoshaCode}
        )
    </insert>
    <delete id="deleteInfo">
        delete from bzl_renrakusakimst
        where emrgcy_cntct_mng_no = #{emrgcyCntctMngNo}
    </delete>
    <select id="getNextSequence" parameterType="map" statementType="CALLABLE">
          {
              #{parm_out,mode=OUT,jdbcType=INTEGER} = call nextval(#{parm_in,mode=IN})
          }
    </select>
</mapper>
