<?xml version="1.0" encoding="UTF-8" ?>
<!--
配置的参照例子
https://mybatis.org/mybatis-3/getting-started.html
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.springboot04web.mapper.CtKeiyaku018Mapper">
    <select id= "getInfoList" resultType="com.liu.springboot04web.bean.CtKeiyaku018Bean">
        select * from bzl_shokaisyamst
    </select>
    <select id= "getInfoById" resultType="com.liu.springboot04web.bean.CtKeiyaku018Bean">
        select * from bzl_shokaisyamst
        where hoshosha_mng_no = #{hoshoshaMngNo}
    </select>
    <update id="updateInfo">
      update bzl_shokaisyamst set
        sys_id = #{sysId},
        hoshosha_mng_no = #{hoshoshaMngNo},
        fullname = #{fullname},
        fullname_kana = #{fullnameKana},
        gender = #{gender},
        birth_day = #{birthDay},
        cop_name = #{copName},
        tel_number = #{telNumber},
        email = #{email},
        post_code = #{postCode},
        loaction1 = #{loaction1},
        loaction2 = #{loaction2},
        apart_name = #{apartName},
        apart_code = #{apartCode},
        annual_income = #{annualIncome},
        tantosha_code = #{tantoshaCode}
        where sys_id = #{sysId}
          and hoshosha_mng_no = #{hoshoshaMngNo}
    </update>
    <insert id="insertInfo" keyColumn="hoshosha_mng_no">
        insert into bzl_shokaisyamst (
            sys_id,
            hoshosha_mng_no,
            fullname,
            fullname_kana,
            gender,
            birth_day,
            cop_name,
            tel_number,
            email,
            post_code,
            loaction1,
            loaction2,
            apart_name,
            apart_code,
            annual_income,
            tantosha_code
         )
        values (
            #{sysId},
            #{hoshoshaMngNo},
            #{fullname},
            #{fullnameKana},
            #{gender},
            #{birthDay},
            #{copName},
            #{telNumber},
            #{email},
            #{postCode},
            #{loaction1},
            #{loaction2},
            #{apartName},
            #{apartCode},
            #{annualIncome},
            #{tantoshaCode}
        )
    </insert>
    <delete id="deleteInfo">
        delete from bzl_shokaisyamst
        where hoshosha_mng_no = #{hoshoshaMngNo}
    </delete>
    <select id="getNextSequence" parameterType="map" statementType="CALLABLE">
          {
              #{parm_out,mode=OUT,jdbcType=INTEGER} = call nextval(#{parm_in,mode=IN})
          }
    </select>
</mapper>
