<?xml version="1.0" encoding="UTF-8" ?>
<!--
配置的参照例子
https://mybatis.org/mybatis-3/getting-started.html

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.springboot04web.mapper.CtKeiyaku008Mapper">
    <select id="getInfoList" resultType="com.liu.springboot04web.bean.CtKeiyaku008Bean">
		select * from bzl_kojinkeiyakumst
	</select>

    <select id="getInfoById" resultType="com.liu.springboot04web.bean.CtKeiyaku008Bean">
		select * from bzl_kojinkeiyakumst
		where keiyaku_mng_no = #{keiyakuMngNo}
	</select>

    <update id="updateInfo">
		update bzl_kojinkeiyakumst set
			sys_id = #{sysId},
			keiyaku_mng_no = #{keiyakuMngNo},
			fullname = #{fullname},
			fullname_kana = #{fullnameKana},
			gender = #{gender},
			birth_day = #{birthDay},
			kinmusaki_mng_no = #{kinmusakiMngNo},
			tel_number = #{telNumber},
			email = #{email},
			post_code = #{postCode},
			loaction1 = #{loaction1},
			loaction2 = #{loaction2},
			apart_name = #{apartName},
			apart_code = #{apartCode},
			occupation = #{occupation},
			bank_account_mng_no = #{bankAccountMngNo},
			emrgcy_cntct_mng_no = #{emrgcyCntctMngNo},
			tantosha_code = #{tantoshaCode}
		where	sys_id = #{sysId}
		and	keiyaku_mng_no = #{keiyakuMngNo}
	</update>

    <insert id="insertInfo" keyColumn="keiyaku_mng_no">
		insert into bzl_kojinkeiyakumst (
			sys_id,
			keiyaku_mng_no,
			fullname,
			fullname_kana,
			gender,
			birth_day,
			kinmusaki_mng_no,
			tel_number,
			email,
			post_code,
			loaction1,
			loaction2,
			apart_name,
			apart_code,
			occupation,
			bank_account_mng_no,
			emrgcy_cntct_mng_no,
			tantosha_code
		)
		values (
			#{sysId},
			#{keiyakuMngNo},
			#{fullname},
			#{fullnameKana},
			#{gender},
			#{birthDay},
			#{kinmusakiMngNo},
			#{telNumber},
			#{email},
			#{postCode},
			#{loaction1},
			#{loaction2},
			#{apartName},
			#{apartCode},
			#{occupation},
			#{bankAccountMngNo},
			#{emrgcyCntctMngNo},
			#{tantoshaCode}
		)
	</insert>

    <delete id="deleteInfo">
		delete from bzl_kojinkeiyakumst
		where keiyaku_mng_no = #{keiyakuMngNo}

		</delete>

    <select id="getNextSequence" parameterType="map" statementType="CALLABLE">
		{
		#{parm_out,mode=OUT,jdbcType=INTEGER} = call nextval(#{parm_in,mode=IN})
		}
	</select>
</mapper>
