<?xml version="1.0" encoding="UTF-8" ?>
<!--
配置的参照例子
https://mybatis.org/mybatis-3/getting-started.html
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.springboot04web.mapper.CtKeiyaku009Mapper">
    <select id= "getInfoList" resultType="com.liu.springboot04web.bean.CtKeiyaku009Bean">
        select * from bzl_hojinkeiyakumst
    </select>
    <select id= "getInfoById" resultType="com.liu.springboot04web.bean.CtKeiyaku009Bean">
        select * from bzl_hojinkeiyakumst
        where hojin_mng_no = #{hojinMngNo}
    </select>
    <update id="updateInfo">
      update bzl_hojinkeiyakumst set
        sys_id = #{sysId},
        hojin_mng_no = #{hojinMngNo},
        kaisya_name = #{kaisyaName},
        post_code = #{postCode},
        loaction1 = #{loaction1},
        loaction2 = #{loaction2},
        apart_name = #{apartName},
        apart_code = #{apartCode},
        houjin_daihyousya = #{houjinDaihyousya},
        tantosha = #{tantosha},
        tantosha_tel = #{tantoshaTel},
        bank_account_mng_no = #{bankAccountMngNo},
        tantosha_code = #{tantoshaCode}
        where sys_id = #{sysId}
          and hojin_mng_no = #{hojinMngNo}
    </update>
    <insert id="insertInfo" keyColumn="hojin_mng_no">
        insert into bzl_hojinkeiyakumst (
            sys_id,
            hojin_mng_no,
            kaisya_name,
            post_code,
            loaction1,
            loaction2,
            apart_name,
            apart_code,
            houjin_daihyousya,
            tantosha,
            tantosha_tel,
            bank_account_mng_no,
            tantosha_code
         )
        values (
            #{sysId},
            #{hojinMngNo},
            #{kaisyaName},
            #{postCode},
            #{loaction1},
            #{loaction2},
            #{apartName},
            #{apartCode},
            #{houjinDaihyousya},
            #{tantosha},
            #{tantoshaTel},
            #{bankAccountMngNo},
            #{tantoshaCode}
        )
    </insert>
    <delete id="deleteInfo">
        delete from bzl_hojinkeiyakumst
        where hojin_mng_no = #{hojinMngNo}
    </delete>
    <select id="getNextSequence" parameterType="map" statementType="CALLABLE">
          {
              #{parm_out,mode=OUT,jdbcType=INTEGER} = call nextval(#{parm_in,mode=IN})
          }
    </select>
</mapper>
