<?xml version="1.0" encoding="UTF-8" ?>
<!--
配置的参照例子
https://mybatis.org/mybatis-3/getting-started.html
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.springboot04web.mapper.CtKeiyaku004Mapper">
    <select id= "getInfoList" resultType="com.liu.springboot04web.bean.CtKeiyaku004Bean">
        select * from bzl_heyarepairhst
    </select>
    <select id= "getInfoById" resultType="com.liu.springboot04web.bean.CtKeiyaku004Bean">
        select * from bzl_heyarepairhst
        where repair_mng_no = #{repairMngNo}
    </select>
    <update id="updateInfo">
      update bzl_heyarepairhst set
        sys_id = #{sysId},
        repair_mng_no = #{repairMngNo},
        buken_mng_no = #{bukenMngNo},
        repair_date_start = #{repairDateStart},
        repair_date_end = #{repairDateEnd},
        repair_memo = #{repairMemo},
        repaired_fee = #{repairedFee},
        genjyou_return_mng_no = #{genjyouReturnMngNo},
        tantosha_code = #{tantoshaCode}
        where sys_id = #{sysId}
          and repair_mng_no = #{repairMngNo}
    </update>
    <insert id="insertInfo" keyColumn="repair_mng_no">
        insert into bzl_heyarepairhst (
            sys_id,
            repair_mng_no,
            buken_mng_no,
            repair_date_start,
            repair_date_end,
            repair_memo,
            repaired_fee,
            genjyou_return_mng_no,
            tantosha_code
         )
        values (
            #{sysId},
            #{repairMngNo},
            #{bukenMngNo},
            #{repairDateStart},
            #{repairDateEnd},
            #{repairMemo},
            #{repairedFee},
            #{genjyouReturnMngNo},
            #{tantoshaCode}
        )
    </insert>
    <delete id="deleteInfo">
        delete from bzl_heyarepairhst
        where repair_mng_no = #{repairMngNo}
    </delete>
    <select id="getNextSequence" parameterType="map" statementType="CALLABLE">
          {
              #{parm_out,mode=OUT,jdbcType=INTEGER} = call nextval(#{parm_in,mode=IN})
          }
    </select>
</mapper>
