<?xml version="1.0" encoding="UTF-8" ?>
<!--
配置的参照例子
https://mybatis.org/mybatis-3/getting-started.html
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.springboot04web.mapper.SysCode001Mapper">
    <select id= "getInfoList" resultType="com.liu.springboot04web.bean.SysCode001Bean">
        select a.sys_id, a.table_mng_no,a.table_name ,count(b.table_field_no) as delFlg from sys_codetablemst a left join sys_codefieldsmst b on a.table_mng_no = b.table_mng_no
        group by sys_id,a.table_mng_no,a.table_name
        order by a.table_mng_no;

    </select>
    <select id= "getInfoById" resultType="com.liu.springboot04web.bean.SysCode001Bean">
        select * from sys_codetablemst
        where table_mng_no = #{tableMngNo}
    </select>
    <update id="updateInfo">
      update sys_codetablemst set
        sys_id = #{sysId},
        table_mng_no = #{tableMngNo},
        table_name = #{tableName}
        where sys_id = #{sysId}
          and table_mng_no = #{tableMngNo}
    </update>
    <insert id="insertInfo" keyColumn="table_mng_no">
        insert into sys_codetablemst (
            sys_id,
            table_mng_no,
            table_name
         )
        values (
            #{sysId},
            #{tableMngNo},
            #{tableName}
        )
    </insert>
    <delete id="deleteInfo">
        delete from sys_codetablemst
        where table_mng_no = #{tableMngNo}
    </delete>
    <select id="getNextSequence" parameterType="map" statementType="CALLABLE">
          {
              #{parm_out,mode=OUT,jdbcType=INTEGER} = call nextval(#{parm_in,mode=IN})
          }
    </select>
</mapper>
